$layout_width: 100%;


header.navbar {
  margin-top: 0;
  padding: 20px 0 20px;
  background-color: #282c34;
  color: white;

  .App-header-container {
    width: $layout_width;
    margin: 0 auto;
    padding-left: 2em;
  }

  h1 {
    font-size: 30px;
    padding: 10px 0 0;
    margin: 10px 0 5px;
  }

  sub {
    font-size: 10px;
    color: lightgray;
  }
}

.link-container.navbar {
  padding: 10px 10px;
  background-color: #3d4251;
  height: 60px;
  display: flex;

  .link {
    vertical-align: middle;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
    height: 40px;
    width: 100%;
    background-color: #282c34;
    border-radius: 5px;
    padding: 5px 10px;

    a {
      color: #5e79ef;
      &:hover {
        color: white;
      }
    }
  }
}

main {
  padding-top: 50px;
  width: $layout_width;
  margin: 0 auto;
}
