$layout_width: 1024px;


header {
  margin-top: 0;
  padding: 20px 0 20px;
  background-color: #282c34;
  color: white;

  .App-header-container {
    width: $layout_width;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    padding: 10px 0 0;
    margin: 10px 0 5px;
  }

  sub {
    font-size: 10px;
    color: lightgray;
  }
}

main {
  padding-top: 50px;
  width: $layout_width;
  margin: 0 auto;
}
