button.primary-button {
  border-radius: 15px;
  height: 30px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

button.remove-button {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

input {
  height: 30px;
  font-size: 25px;
  margin: 0 10px;
}
